<h1>로그인</h1>
<form action="/login" method="post">
    <div class="mb-3">
        <label class="form-label" for="id">ID</label>
        <input class="form-control" type="text" name="nickname" id="nickname" style="width:300px;"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="pwd">PW</label>
        <input class="form-control" type="password" name="password" id="password" style="width:300px;"/>
    </div>
    <button class="btn btn-outlined-secondary btn-sm" type="submit">login</button>
</form>