<h1><br>로그인</h1>
<form action="/login" method="post">
    <div class="mb-3">
        <label class="form-label" for="nockName">ID</label>
        <input class="form-control" type="text" name="nickName" id="nickName" style="width:300px;"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">PW</label>
        <input class="form-control" type="password" name="password" id="password" style="width:300px;"/>
    </div>
    <button class="btn btn-outlined-secondary btn-sm" type="submit">login</button>
</form>