<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>bookCalander admin</title>
        <link rel="stylesheet" href="/css/style.css">
        <!--아이콘 CDN 링크-->>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle,logout,menu" />
        <!--jQuery 연결 태그는 추후 필요 시 추가-->
    </head>
    <body>
        
    </body>
</html>