<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>bookCalander admin</title>

    <!--css 파일 연결. main.js 파일에 정적 파일들이 위치한 폴더로 public을 지정해놨기 때문에 절대경로 X-->
    <!--절대 경로로 지정 시 error 발생-->
    <link rel="stylesheet" href="/css/style.css">

    <!--google fonts의 account_circle, logout, menu 아이콘 CDN 링크-->
    <!--이유는 모르겠으나 아이콘 4개 이상 링크 시 error 발생-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle,logout,menu" />
    
    <!--사이드바의 서브메뉴 화살표 아이콘 Remix Icon CDN 링크-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">

    <!--각종 ejs 파일에서 사용되는 bootstrap CDN 링크-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="sidebar-container">

        <!--aside 태그 사용하여 사이드바가 왼쪽에 붙도록 설정-->
        <aside class="sidebar">
            <div class="sidebar-content">
                <h3>bookCalander</h3>
                <ul>
                    <li><a href="/member">회원 관리</a></li>
                    <li><a href="#">게시물 관리</a></li>
                    <li><a href="#">댓글 관리</a></li>

                    <!--서브메뉴 부분 코드. 토글 버튼(상위메뉴) 클릭 시 아래에 서브메뉴들 표시-->
                    <li class="has-submenu">
                        <a href="#" class="toggle-submenu">통계 확인<i class="ri-arrow-down-s-line"></i></a>
                        <ul class="submenu">
                            <li><a href="#">등록 도서량</a></li>
                            <li><a href="#">등록 독후감</a></li>
                            <li><a href="#">등록 게시물</a></li>
                            <li><a href="#">등록 댓글</a></li>
                            <li><a href="#">사용자 수</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="toggle-submenu">AI 관리<i class="ri-arrow-down-s-line"></i></a>
                        <ul class="submenu">
                            <li><a href="#">키워드 추출 모델 I/O</a></li>
                            <li><a href="#">감정 추출 AI 모델 ac</a></li>
                            <li><a href="#">AI 사서 챗봇 모델 ac</a></li>
                            <li><a href="#">질문 생성 모델 L/U</a></li>
                            <li><a href="#">GPT API KEY</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="toggle-submenu">신고 내역 관리<i class="ri-arrow-down-s-line"></i></a>
                        <ul class="submenu">
                            <li><a href="#">게시물 신고 관리</a></li>
                            <li><a href="#">댓글 신고 관리</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--사이드바 하단의 로그인 관련 정보 및 버튼-->
            <div class="sidebar-footer">
                <span class="material-symbols-outlined">account_circle</span>

                <!--현재 접속자가 누군지 사이드바 하단에 표시. 로그인 상태일 경우 로그아웃 버튼 표시-->
                <h3><%=who%></h3>
                <% if(login===true){ %>
                <a href="/logout"><span class="material-symbols-outlined">logout</span></a>
                <% } %>
            </div>
        </aside>
        <div class="content">

            <!--클릭 시 사이드바가 펼쳐지는 메뉴 아이콘-->
            <div class="sidebar-icon">
                <span class="material-symbols-outlined">menu</span>
            </div>

            <!--context에 포함되는 ejs 파일들 포함 부분-->
            <%- include(body) %>
        </div>
    </div>
    <script>
        const sidebarIcon = document.querySelector('.sidebar-icon');  //사이드바 메뉴 아이콘 변수에 할당
        const sidebar = document.querySelector('.sidebar');  //사이드바 영역 변수에 할당
        const submenuToggles = document.querySelectorAll('.toggle-submenu'); // 모든 토글 버튼 변수에 할당

        sidebarIcon.addEventListener('click', () => {  //메뉴 아이콘에 클릭 이벤트 리스너 추가
            sidebar.classList.toggle('open');  //클릭 이벤트 발생할 때마다 사이드바에 open 클래스 추가 또는 제거
        });

        submenuToggles.forEach(toggle => { // 모든 토글 버튼에 대해 반복
            toggle.addEventListener('click', (e) => {  //토글 버튼 클릭 이벤트 리스터 추가
                e.preventDefault(); // 링크 이동 막기. 서브메뉴 여닫는 동작만을 수행
                const submenu = toggle.nextElementSibling; // 클릭된 토글 버튼의 서브메뉴 변수에 할당
                if (submenu && submenu.classList.contains('submenu')) {
                    submenu.classList.toggle('open');  //서브메뉴가 존재하고 submenu 클래스를 보유할 경우, 토글 버튼을 누를 때마다 클래스의 open 클래스 추가 또는 제거
                }
            });
        });
    </script>
</body>
</html>